# Archivos de usuario de VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Salida de compilación
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Publicaciones locales
publish/
*.Publish.xml
*.pubxml
*.pubxml.user

# Paquetes NuGet
packages/
!packages/*/build/
*.nupkg

# Archivos temporales y de cache
*.tmp
*.log
*.dbmdl
*.cache
*.pch
*.pdb
*.ilk

# Resharper / NCrunch / TeamCity
_ReSharper*/
*.DotSettings.user
*.ncrunch*
_TeamCity*

# Azure/ClickOnce
csx/
*.build.csdef
AppPackages/

# Datos locales (si aplica)
App_Data/*.mdf
App_Data/*.ldf

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
